
//цвета текста и кнопок
$fon: #E5E5E5;
$heatitle: #141414;
$white: #fff;
$black: #000;
$yel: #E8AA31;
$grey: #ABABAB;
$footer: rgba(255, 255, 255, 0.8);
$nalichie: #24AD53;
$tovar: #7F7F7F;
$blade: rgba(20, 20, 20, 0.5);
$nonal: #E7401B;
$fon2: #FEFEFE;
$bordermob: #3d3d3d;


//тень первых двух блоков
$blog1: 0px 4px 20px rgba(0, 0, 0, 0.15);
$blog2: 0px 4px 20px rgba(0, 0, 0, 0.1);

//кнопка
$shadbtn: 0px 4px 20px rgba(232, 170, 49, 0.43);
$bor3px: 3px;


//bootstrap modal цвет оверлея

$modal-backdrop-bg: white;
$modal-backdrop-opacity:.6;

//media
$tablet-620: 1620px;
$tablet-530: 1530px;
$tablet-523: 1523px;
$tablet-254: 1254px;
$tablet-155: 1155px;
$tablet-bp: 991px;
$mobile-74: 745px;
$mobile-bp: 700px;
$mobile-63: 630px;
$mobile-56: 560px;
$mobile-br: 450px;
$mobile-32: 320px;