.selected{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 374px;
    padding: 10px 20px;
    cursor: pointer;

    outline: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: rgba(0, 0, 0, 0.5);

    border: 1px solid rgba(4, 4, 4, 0.3);
    border-radius: $bor3px;

    &--selects{

        min-width: 534px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        color: $heatitle;

        border: 1px solid rgba(4, 4, 4, 0.15);

        @include breakpoint($tablet-bp){
            text-align: center;
            min-width: 234px;
         }


    }

    @include breakpoint($mobile-56){
        font-size: 11px;
        font-weight: bold

    }

}







