<footer class="footer">

    <section class="footer__top">
        <div class="container">
            <h1 class="footer__top-title">Златоустовские ножи интернет-магазин "ЗЛАТМАКС"</h1>
            <div class="footer__top-text">Наш интернет-магазин "ЗЛАТМАКС" предлагает Вам ножи очень высокого качества из
                города оружейников - Златоуста. Златоустовские ножи известны и популярны среди потребителей как на
                российским рынке, так и за рубежом: ножи охотничьи, хозяйственные, туристические, рыбацкие, складные и
                метательные. Нож Златоуста - это идеальный друг и товарищ в повседневной жизни и в экстремальных
                ситуациях. На многую продукцию распространяется гарантия до 10 лет - это один из главных показателей
                качества. Для Вас на нашем сайте "zlatmax" предложен огромный ассортимент Златоустовских ножей. Наши
                менеджеры помогут определиться и подобрать самый лучший Златоустовский нож, ориентируясь на Ваши
                пожелания.</div>
         </div>
    </section>

    <section class="footer__main">
        <div class="container">
        <div class="footer__main-inner">
            <div class="footer__main-item">
                <h1 class="footer__main-title"> ИНФОРМАЦИЯ </h1>
                <a href="" class="footer__main-link">Златоустовские ножи
                    в Москве и Московской
                    области</a>
                <a href="" class="footer__main-link">Ножевые стали</a>
                <a href="" class="footer__main-link">О нас</a>
                <a href="" class="footer__main-link">Условия оплаты
                    и доставки</a>
                <a href="" class="footer__main-link">Политика
                    конфиденциальности</a>
            </div>

            <div class="footer__main-item">
                <h1 class="footer__main-title">СЛУЖБА ПОДДЕРЖКИ </h1>
                <a href="" class="footer__main-link">Контактная информация</a>
                <a href="" class="footer__main-link">Возврат товара</a>
                <a href="" class="footer__main-link">Карта сайта</a>
            </div>

            <div class="footer__main-item">
                <h1 class="footer__main-title"> ДОПОЛНИТЕЛЬНО </h1>
                <a href="" class="footer__main-link">Подарочные сертификаты</a>
                <a href="" class="footer__main-link">Партнеры</a>
                <a href="" class="footer__main-link">Товары со скидкой</a>
            </div>

            <div class="footer__main-item">
                <h1 class="footer__main-title"> ЛИЧНЫЙ КАБИНЕТ </h1>
                <a href="" class="footer__main-link">Личный кабинет</a>
                <a href="" class="footer__main-link">История заказов</a>
                <a href="" class="footer__main-link">Мои закладки</a>
                <a href="" class="footer__main-link">Рассылка новостей</a>
            </div>
        </div>

        <div class="footer__main-inner">
            <div class="footer__main-item ">
                <h1 class="footer__main-title"> КОНТАКТЫ </h1>

                <div class="footer__main-flex footer__main-flex--conta">
                    <img src="assets/img/footer/3.webp" alt="" class="footer__maim-cont">
                    <a href="tel:88007774967" class="footer__main-link">
                        8-800-777-49-67</a>
                </div>
                <div class="footer__main-flex footer__main-flex--conta">
                    <img src="assets/img/footer/1.webp" alt="" class="footer__maim-cont footer__maim-cont--2">
                    <p  class="footer__main-link">
                        Пн-Пт <br>
                        7:00 - 16:00 (МСК
                    </p>
                </div>
                <div class="footer__main-flex footer__main-flex--conta">
                    <img src="assets/img/footer/4.webp" alt="" class="footer__maim-cont footer__maim-cont--3" >
                    <p  class="footer__main-link">
                        Златоуст, <br>
                        ул. Шоссейная, <br>
                        д. 1, офис «6Б»
                    </p>
                </div>
                <div class="footer__main-flex footer__main-flex--conta">
                    <img src="assets/img/footer/2.webp" alt="" class="footer__maim-cont footer__maim-cont--4">
                    <a href="mailto:sashaastafurov123@mail.ru" class="footer__main-link">
                        sashaastafurov123@mail.ru
                    </a>
                </div>

                <div class="footer__main-social">
                    <a href="" class="footer__main-socials">
                        <img src="assets/img/footer/5.webp" alt="" class="footer__main-webp">
                    </a>

                    <a href="" class="footer__main-socials">
                        <img src="assets/img/footer/6.webp" alt="" class="footer__main-webp">
                    </a>

                    <a href="" class="footer__main-socials">
                        <img src="assets/img/footer/7.webp" alt="" class="footer__main-webp">
                    </a>

                    <a href="" class="footer__main-socials">
                        <img src="assets/img/footer/8.webp" alt="" class="footer__main-webp">
                    </a>

                </div>
            </div>

            <div class="footer__main-item">
                <h1 class="footer__main-title"> ПОЛЕЗНЫЕ ССЫЛКИ </h1>
                <a href="" class="footer__main-link">Способы оплаты и доставки</a>
            </div>

            <div class="footer__main-item">
                <h1 class="footer__main-title"> НАША ГАРАНТИЯ </h1>
                <p href="" class="footer__main-link">Недовольны своей покупкой?
                    Вы можете вернуть ее в течении
                    30 дней с даты получения,
                    согласно <a href=""><span>нашим правилам</span> </a></p>
            </div>

            <div class="footer__main-item footer__main-item--375px">
                <h1 class="footer__main-title footer__main-title--15px"> НОВОСТНАЯ РАССЫЛКА </h1>
                <p class="footer__main-text">Подпишитесь прямо сейчас!</p>
                <form class="footer__main-form" action="">
                    <div class="footer__main-flex">
                    <input class="footer__main-email" type="email" name="email" placeholder="example@gmail.com">
                    <button class="footer__main-submit" class="input" type="submit" value=""> </button>
                    <img class="footer__main-arrow"  src="assets/img/footer/10.webp" alt="">
                   </div>

                   <div class="footer__main-flex">
                    <label class="footer__main-rules" for="rules">
                        <input class="footer__main-checkbox" type="checkbox" name="rules" id="rules">
                        <span></span>
                        Я прочитал Условия соглашения и согласен с условиями
                    </label>
                  </div>
                </form>
            </div>
        </div>
    </div>
    </section>
    <div class="footer__copyright">
        <div class="container">
        <p class="footer__copyright-text">Все материалы, размещенные на сайте, носят справочный характер и не являются
            публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации.
            При копировании материалов гиперссылка на www.zlatmax.ru обязательна!</p>

    </div>
</div>
</footer>