


    <header class="header">
        <div class="container">
            <div class="header__top">
                <div class="header-top__left">
                    <nav class="header-top__menu">
                        <ul class="header-top-item">
                            <li class="header-top__list">
                                <a class="header-top__link header-top__link--60px" href="">О нас</a>
                            </li>
                            <li class="header-top__list">
                                <a class="header-top__link header-top__link--60px" href="">Оплата и доставка</a>
                            </li>
                            <li class="header-top__list">
                                <a class="header-top__link header-top__link--60px" href="">Новости</a>
                            </li>
                            <li class="header-top__list">
                                <a class="header-top__link header-top__link--60px" href="">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="header-top__right">
                    <a class="header-top__user" href="">
                        <img class="header-top__img" src="assets/img/logo/3.webp" alt="">
                        Личный кабинет
                    </a>
                </div>
            </div>
        </div>
    </header>


    <!--mobile-->
    <header class="header">
        <div class="container container--nonepad">
            <div class="header_mobile">
                <div class="header__mobile__block">
                    <div class="header-mobile__left">
                        <nav class="header-mobile__menu" id="navt">

                            <!--бургер меню мобайл-->
                            <ul class="header-mobile-burger">
                                <li class=" header-top__list header-top__list--mob">
                                    <a class="header-top__link top-header" href="">Личный кабинет</a>
                                </li>

                                <li class=" header-top__list header-top__list--mob">
                                    <a class="header-top__link top-header" href="">О нас</a>
                                </li>
                                <li class="header-top__list header-top__list--mob">
                                    <a class="header-top__link" href="">Оплата и доставка</a>
                                </li>
                                <li class="header-top__list header-top__list--mob">
                                    <a class="header-top__link" href="">Новости</a>
                                </li>
                                <li class="header-top__list header-top__list--mob">
                                    <a class="header-top__link" href="">Контакты</a>
                                </li>

                                <li class=" header-top__list header-top__list--mob header-top__list--nolinear">
                            </ul>

                                    <div class="header-top__spoller" href="" >Каталог товаров
                                    </div>
                                    <div class="header-mobile-items">

                                            <div class="header-top__spoller ">Каталог ножей</div>

                                            <ul class="header-mobile-items " style="display: none ;">
                                                <li
                                                    class=" header-top__list header-top__list--nolinear header-top__list--left20px">
                                                    <a class="header-top__link top-header" href=""> Категория ножей</a>
                                                </li>
                                                <li class="header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link" href="">Производство ножей</a>
                                                </li>
                                                <li class="header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link" href="">Ножи из марки и стали</a>

                                                </li>
                                                <li class="header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link" href="">Заточка и полировка ножей</a>
                                                </li>

                                                <li class="header-top__list header-top__list--nolinear">
                                                    <a class="header-top__link
                                                    header-top__list--left20px" href="">Ножевая мастерская</a>
                                                </li>
                                            </ul>


                                            <div class="header-top__spoller">Клинковое оружие</div>


                                            <ul class="header-mobile-items ">
                                                <li class=" header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link top-header" href=""> Категория
                                                        клинков</a>
                                                </li>
                                                <li class="header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link" href="">Производство клинков</a>
                                                </li>
                                                <li class="header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link" href="">Клинки из марки и стали</a>

                                                </li>
                                                <li class="header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link" href="">Заточка и полировка клинков</a>
                                                </li>

                                            </ul>

                                         <div class="header-top__spoller">Сувенирные изделия</div>
                                         <ul class="header-mobile-items " >
                                            <li class=" header-top__list header-top__list--nolinear
                                            header-top__list--left20px">
                                                <a class="header-top__link top-header" href=""> Категория
                                                    клинков</a>
                                            </li>
                                            <li class="header-top__list header-top__list--nolinear
                                            header-top__list--left20px">
                                                <a class="header-top__link" href="">Производство клинков</a>
                                            </li>
                                            <li class="header-top__list header-top__list--nolinear
                                            header-top__list--left20px">
                                                <a class="header-top__link" href="">Клинки из марки и стали</a>

                                            </li>
                                            <li class="header-top__list header-top__list--nolinear
                                            header-top__list--left20px">
                                                <a class="header-top__link" href="">Заточка и полировка клинков</a>
                                            </li>

                                        </ul>

                                            <div class="header-top__spoller">Фонари ARMYTEK</div>

                                            <ul class="header-mobile-items " >
                                                <li class="header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link" href="">Заточка и полировка клинков</a>
                                                </li>

                                            </ul>

                                            <div class="header-top__spoller">Сопуствующие товары</div>

                                            <ul class="header-mobile-items ">
                                                <li class=" header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link top-header" href=""> Категория
                                                        клинков</a>
                                                </li>
                                                <li class="header-top__list header-top__list--nolinear
                                                header-top__list--left20px">
                                                    <a class="header-top__link" href="">Производство клинков</a>
                                                </li>

                                            </ul>
                                </div>
                        </nav>
                        <!--меню мобайл-->

                        <nav class="header-mobile__menuu">
                            <ul class="header-mobile-item">
                                <li class="header-mobile__list">
                                    <a class="header-mobile__link  header-mobile__link--nonenum"
                                        href="tel:88007774967">8-800-777-49-67
                                    </a>
                                    <a href="tel:88007774967">
                                        <img class="header-mobile__phone" src="assets/img/logo/8.webp" alt="">
                                    </a>
                                </li>
                                <li class="header-mobile__list">
                                    <a class="header-mobile__link " href="">
                                        <img src="assets/img/logo/3.webp" alt="">
                                    </a>
                                </li>
                                <li class="header-mobile__list">
                                    <a class="header-mobile__link " href="">
                                        <img src="assets/img/logo/9.webp" alt="">
                                    </a>
                                </li>
                                <li class="header-mobile__basket">
                                    <a class="header-mobile__link " href="">
                                        <img src="assets/img/logo/10.webp" alt="">
                                        <span>1</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-mobile__right">
                        <nav class="header-mobile__tops">
                            <button class="burger " type="button" id="sidebarToggle">
                                <span>Открыть навигацию</span>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header class="header__body" id="introhe">
        <div class="container">
            <div class="header-body-flex">
                <div class="header-body__left">
                    <a class="header-bode__logo" href="index.html">
                        <img src="assets/img/logo/logo.webp" alt="">
                    </a>

                    <form class="header-body__search" action="">
                        <input class="search__input" type="text" name="name" placeholder="Поиск ">
                        <img class="header-body__navigat" src="assets/img/logo/2.webp" alt="">
                        <img class="header-body__navigat7" src="assets/img/logo/7.webp" alt="">
                    </form>

                </div>

                <div class="header-body__right">
                    <div class="header-body__nav">
                        <img class="header-body__img" src="assets/img/logo/6.webp" alt="">
                        <a href="http://" target="_blank">Москва</a>
                    </div>


                    <ul class="header-body__phone">
                        <li>
                            <a class="header-body__number" href="tel:88007774967">8-800-777-49-67</a>

                        </li>
                        <button class="header-body__arrow active" type="button" data-collapse="#wedo_1">
                            <img src="assets/img/logo/arrow.svg" alt="">
                        </button>
                        <button class="header-body__btn" type="button"data-bs-toggle="modal"
                        data-bs-target="#popupbell">Заказать звонок</button>


                        <ul class="header-body__list" style="display: none;">
                            <li>
                                <a class="header-body__number" href="tel:88007774967">8-800-777-49-71</a>
                            </li>
                            <li>
                                <a class="header-body__number" href="tel:88007774967">8-800-777-49-12</a>
                            </li>
                            <li>
                                <a class="header-body__number" href="tel:88007774967">8-800-777-49-34</a>
                            </li>
                        </ul>

                    </ul>

                    <a class="header-body__blank" href="http://" target="_blank">
                        <img class="header-body__favourites" src="assets/img/logo/4.webp" alt="">
                    </a>

                    <a class="header-body__like" href="" target="_blank">

                        <div class="header-body__basket">
                            <img src="assets/img/logo/5.svg" alt="">
                            <span>1</span>
                        </div>
                        <div class="header-body__rub">
                            <p class="header-body__money">0р.</p>
                            <div>Оформить заказ</div>
                        </div>
                    </a>

                </div>
            </div>

        </div>
    </header>



    <header class="header__catalog" id="fixhead" >
        <div class="container">
            <nav class="header__catalog-blog" >
                <ul class="header__catalog-menu" id="ul">
                    <li class="header__catalog-list" id="1">
                        <a class="header__catalog-link" href="#div1" onclick="showHide('block_id')"
                            data-scroll="#1">Каталог
                            ножей </a>
                    </li>

                    <li class="header__catalog-list" id="2">
                        <a class="header__catalog-link" href="#div2" onclick="showHide('bloc2_id')"
                            data-scroll="#2">Клинковое оружие</a>
                    </li>

                    <li class="header__catalog-list" id="3">
                        <a class="header__catalog-link" href="#div3" onclick="showHide('bloc3_id')"
                            data-scroll="#3">Сувенирные изделия</a>
                    </li>

                    <li class="header__catalog-list" id="4">
                        <a class="header__catalog-link" href="#div4" onclick="showHide('bloc4_id')"
                            data-scroll="#4">Фонари
                            ARMYTEK</a>
                    </li>

                    <li class="header__catalog-list" id="5">
                        <a class="header__catalog-link" href="#div5" onclick="showHide('bloc5_id')"
                            data-scroll="#5">Сопуствующие товары</a>
                    </li>
                </ul>

                <div class="header__catalog-blo" id="div1">
                    <div class="header__catalog-flex" id="block_id">

                        <div class="header__catalog-submenu">
                            <div class="header__catalog-item sub-menu-open" data-submenu="1">
                                <div class="header__catalog-column">


                                    <a class="header__catalog-category" href="">Категория ножей</a>


                                    <ul class="header__catalog-listing ">
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Разделочные ножи</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Туристические ножи</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Ножи охотничьи</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Булатные ножи</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Ножи из дамаска</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Тактического назначения</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Метательные ножи</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Мачете и кукри</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a class="header__catalog-press" href="catalog.html">Ножи кухонные</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all" href="">Смотреть все</a>
                                </div>
                            </div>


                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Производство ножей</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи АИР</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗИК</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗЗОСС</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи РОСоружие</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Оружейник</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Сергея Баранова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Андрея Умерова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Златко</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Стиль-М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Оружейная компания</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Ножи по маркам стали</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 40х102С2М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 95х18</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 100х13м</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 110х18м-ШД</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали ЭИ-107 ТЦ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 50х14МФ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали AUS-8</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали К340</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали M390</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали ЭП-766</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Заточка и полировка ножей</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Паста ГОИ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Алмазная паста</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Бруски и камни для заточки</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Заточные системы</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Ножевая мастерская</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножевые клинки</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Заготовки для ножей</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Литье для ножей</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Материалы для рукоятей</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Уход за рукоятиями ножей</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all" href="">Смотреть все</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__catalog-blo" id="div2">
                    <div class="header__catalog-flex" id="bloc2_id">
                        <div class="header__catalog-submenu">

                            <div class="header__catalog-item" data-submenu="2">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Производство клинков</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи АИР</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗИК</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗЗОСС</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи РОСоружие</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Оружейник</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Сергея Баранова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Андрея Умерова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Златко</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Стиль-М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Оружейная компания</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Ножи по маркам стали</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 40х102С2М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 95х18</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 100х13м</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 110х18м-ШД</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали ЭИ-107 ТЦ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 50х14МФ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали AUS-8</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали К340</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали M390</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали ЭП-766</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Заточка и полировка ножей</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Паста ГОИ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Алмазная паста</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Бруски и камни для заточки</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Заточные системы</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Ножевая мастерская</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножевые клинки</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Заготовки для ножей</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Литье для ножей</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Материалы для рукоятей</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Уход за рукоятиями ножей</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all" href="">Смотреть все</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header__catalog-blo" id="div3">
                    <div class="header__catalog-flex" id="bloc3_id">
                        <div class="header__catalog-submenu">

                            <div class="header__catalog-item" data-submenu="2">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Производство клинков</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи АИР</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗИК</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗЗОСС</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи РОСоружие</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="hcatalog.html">Ножи Оружейник</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Сергея Баранова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Андрея Умерова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Златко</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Стиль-М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Оружейная компания</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header__catalog-blo" id="div4">
                    <div class="header__catalog-flex" id="bloc4_id">
                        <div class="header__catalog-submenu">

                            <div class="header__catalog-item" data-submenu="2">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Производство клинков</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи АИР</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗИК</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗЗОСС</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи РОСоружие</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Оружейник</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Сергея Баранова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Андрея Умерова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Златко</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Стиль-М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Оружейная компания</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Ножи по маркам стали</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 40х102С2М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 95х18</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 100х13м</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 110х18м-ШД</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали ЭИ-107 ТЦ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 50х14МФ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали AUS-8</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали К340</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали M390</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали ЭП-766</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Заточка и полировка ножей</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Паста ГОИ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Алмазная паста</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Бруски и камни для заточки</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Заточные системы</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="header__catalog-blo" id="div5">
                    <div class="header__catalog-flex" id="bloc5_id">
                        <div class="header__catalog-submenu">

                            <div class="header__catalog-item" data-submenu="2">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Производство клинков</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи АИР</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗИК</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи ЗЗОСС</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи РОСоружие</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Оружейник</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Сергея Баранова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Булат Андрея Умерова</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Златко</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи Стиль-М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Оружейная компания</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>

                            <div class="header__catalog-item">
                                <div class="header__catalog-column">

                                    <a class="header__catalog-category" href="">Ножи по маркам стали</a>

                                    <ul class="header__catalog-listing">
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 40х102С2М</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 95х18</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 100х13м</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 110х18м-ШД</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали ЭИ-107 ТЦ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали 50х14МФ</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали AUS-8</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали К340</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали M390</a>
                                        </li>
                                        <li class="header__catalog-blade">
                                            <a href="catalog.html">Ножи из стали ЭП-766</a>
                                        </li>
                                    </ul>

                                    <div class="header__catalog-linear"></div>

                                    <a class="header__catalog-all header__catalog-all--flexs" href="">Смотреть все</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>


