<div class="modal fade" id="popupbasket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <button class="modal__close" type="button" data-bs-dismiss="modal" aria-label="Close">
            <img src="assets/img/modal/1.svg" alt="">
        </button>


        <section class="modal__bell">
            <h1 class="modal__bell-title">Товар добавлен в корзину!</h1>
            <div class="modal__bell-flex">
                <button class="btn" type="button">
                    В корзину
                    <img class="saleshits__body-basket" src="assets/img/tovar/11.webp" alt=""
                        style="display: inline;">
                </button>

                <button class="btn btn--green" type="button" data-bs-dismiss="modal" aria-label="Close">
                   Продолжить покупки
                </button>

           </div>
        </section>

    </div>
</div>
</div>